<div id="flashExample">
        <div id="cmsv6flash"></div>
        <div></div>
        <div id="eventTip"></div>
        {{!-- <div class="player-params">
            <div class="player-param">
                <a id="isPlay" class="button button-primary button-rounded button-small"
                   onclick="checkIsPlaying();">Check Play</a>
            </div>
        </div> --}}
    </div>