<div id="flashExample">
        <div id="cmsv6flash"></div>
        <div></div>
        <div id="eventTip"></div>
        {{!-- <div class="player-params">
            <div class="player-param">
                <a id="isPlay" class="button button-primary button-rounded button-small"
                   onclick="checkIsPlaying();">Check Play</a>
            </div>
        </div> --}}
        <div class="player-param">
                <p>TalkBack</p>
                <a id="talkbackBtn" class="button button-primary button-rounded button-small" onclick="startTalkback();">Start</a>
                <a id="talkStopBtn" style="margin-left: 20px;" class="button button-primary button-rounded button-small stop" onclick="stopTalkback()">Stop</a>
        </div>
    </div>
